---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Proyects from "../components/Proyects.astro";
import Home from "../components/Home.astro";
import Header from "../components/Header.astro";

changeLanguage("es");
---

<Layout title="site.title" description='site.description'>
	<Header />
	<main>
		<SectionContainer id="top" class="py-28 pb-24" content={Home} />
		<SectionContainer id="experience" class="py-24 pb-24" content={Experience} />
		<SectionContainer id="proyects" class="pb-24" content={Proyects} />
	</main>
</Layout>