---
import Layout from '../layouts/Layout.astro';

import Experience from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro';
import Proyects from '../components/Proyects.astro';
import Home from '../components/Home.astro';
---

<Layout title="Portfolio de Gomez Tomas Gomez - Desarrollador y Programador Full Stack">
	<main class="px-4">
		<SectionContainer id="top" class="py-44 pb-24" content={Home} />
		<SectionContainer id="experience" class="pb-24" content={Experience} />
		<SectionContainer id="proyects" class="pb-24" content={Proyects} />
	</main>
</Layout>