---
import ExperiencieItem from "./ExperiencieItem.astro";
import { EXPERIENCES } from "../data/Experience.ts"
import ShovelIcon from '../icons/Shovel.astro';
---

<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center"> <ShovelIcon class="size-6"/> Experiencia Laboral</h2>
<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2">
    {
        EXPERIENCES.map((experience) => (
            <li class="mb-10 ms-6">
                <ExperiencieItem {...experience} />
            </li>
        ))
    }
</ol>
