---
interface Props {
  title: string;
  subtitle: string;
  image: string;
}

const { title = "Gomez Tomás Gonzalo", subtitle = "Full Stack Developer", image = "/profile.jpeg" } = Astro.props;
---

<header class="flex flex-col md:flex-row items-center gap-4 md:gap-8 py-8">
  <img 
    src={image} 
    alt={title}
    class="rounded-full size-32 md:size-40 bg-orange-500 object-cover"
  />
  
  <div class="text-center md:text-left">
    <h1 class="text-4xl md:text-5xl font-bold text-gray-900 dark:text-white">
      {title}
    </h1>
    <h2 class="text-xl md:text-2xl text-gray-600 dark:text-gray-300 mt-2">
      {subtitle}
    </h2>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const mobileMenuButton = document.querySelector("[data-collapse-toggle='navbar-sticky']");
    const mobileMenu = document.getElementById("mobile-menu");
    const closeMenuButton = document.getElementById("close-menu-button");
    const closeMenuOverlay = document.getElementById("close-menu");

    const mobileMenuList = document.querySelectorAll("#mobile-menu > ul ")
    const mobileMenuLinks = mobileMenuList[0]?.children ?? []

    for (let i = 0; i < mobileMenuLinks.length; i++) {
        const link = mobileMenuLinks[i];
        link.addEventListener('click', function(){
            mobileMenu?.classList.toggle("hidden");
            closeMenuOverlay?.classList.toggle("hidden");
            document.body.style.overflow = "auto";
        })
    }

    mobileMenuButton?.addEventListener("click", function () {
      mobileMenu?.classList.toggle("hidden");
      closeMenuOverlay?.classList.toggle("hidden");

      if (mobileMenu?.classList.contains("hidden")) {
      document.body.style.overflow = "auto"; // Habilitar el scroll
    } else {
      document.body.style.overflow = "hidden"; // Deshabilitar el scroll
    }
    });

    closeMenuButton?.addEventListener("click", function () {
      mobileMenu?.classList.add("hidden");
      closeMenuOverlay?.classList.add("hidden");
      document.body.style.overflow = "auto";
    });
  });
</script>
