---
import ThemeToggle from "./ThemeToggle";
import LangPicker from "./LangPicker.tsx";
import NavLink from "./NavLink.astro";
---

<header class="px-3 py-2 bg-gray-100 rounded-lg shadow m-4 dark:bg-gray-800">
  <nav class="flex items-center justify-between max-w-screen-xl mx-auto relative">
      
    <!-- Botón de menú para dispositivos móviles -->
    <button data-collapse-toggle="navbar-sticky" type="button" class="md:hidden focus:outline-none hover:bg-gray-300 dark:hover:bg-gray-700 px-2 py-2 rounded-lg relative">
        <div id="menu-circle" class="w-0 h-0 bg-gray-700 dark:bg-gray-500 rounded-full absolute top-0 right-0 overflow-hidden"></div>
        <svg class="w-6 h-6 text-gray-900 dark:text-white" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
    </button>

    <!-- Menú principal -->
    <div class="hidden md:flex md:items-center space-x-4 pr-2">
        <NavLink href="#top" i18nText="nav.home" />
        <NavLink href="#experience" i18nText="nav.experience" />
        <NavLink href="#proyects" i18nText="nav.proyects" />
    </div>

    <!-- Elementos adicionales (tema, idioma) -->
    <div class="hidden md:flex items-center space-x-4 pl-2">
        <ThemeToggle client:only />
        <LangPicker client:only />
    </div>
</nav>

<!-- Menú lateral móvil -->
<div id="mobile-menu"
    class="fixed inset-0 bg-gray-200 dark:bg-gray-800 hidden md:hidden transition-opacity ease-in-out duration-300 z-50">
    <div class="flex items-center justify-between p-4">
       
        <!-- Botón de cierre del menú móvil -->
        <button id="close-menu-button" class="text-gray-900 hover:bg-gray-300 dark:hover:bg-gray-700 rounded-lg dark:text-gray-100 dark:hover:text-gray-400 focus:outline-none px-2 py-2">
            <div id="close-circle" class="w-0 h-0 bg-gray-700 dark:bg-gray-500 rounded-full absolute top-0 right-0 overflow-hidden"></div>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                </path>
            </svg>
        </button>
    </div>

    <!-- Opciones del menú lateral móvil -->
    <ul class="flex flex-col items-center space-y-4 p-4">
        <NavLink href="#top" i18nText="nav.home" />
        <NavLink href="#experience" i18nText="nav.experience" />
        <NavLink href="#proyects" i18nText="nav.proyects" />
    </ul>

    <!-- Elementos adicionales (tema, idioma) -->
    <div class="flex items-center justify-center space-x-4 p-4 mx-3">
        <ThemeToggle client:only />
        <LangPicker client:only />
    </div>
</div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const mobileMenuButton = document.querySelector("[data-collapse-toggle='navbar-sticky']");
    const mobileMenu = document.getElementById("mobile-menu");
    const closeMenuButton = document.getElementById("close-menu-button");
    const closeMenuOverlay = document.getElementById("close-menu");

    const mobileMenuList = document.querySelectorAll("#mobile-menu > ul ")
    const mobileMenuLinks = mobileMenuList[0].children

    for (let i = 0; i < mobileMenuLinks.length; i++) {
        const link = mobileMenuLinks[i];
        link.addEventListener('click', function(){
            mobileMenu?.classList.toggle("hidden");
            closeMenuOverlay?.classList.toggle("hidden");
            document.body.style.overflow = "auto";
        })
    }

    mobileMenuButton?.addEventListener("click", function () {
      mobileMenu?.classList.toggle("hidden");
      closeMenuOverlay?.classList.toggle("hidden");

      if (mobileMenu?.classList.contains("hidden")) {
      document.body.style.overflow = "auto"; // Habilitar el scroll
    } else {
      document.body.style.overflow = "hidden"; // Deshabilitar el scroll
    }
    });

    closeMenuButton?.addEventListener("click", function () {
      mobileMenu?.classList.add("hidden");
      closeMenuOverlay?.classList.add("hidden");
      document.body.style.overflow = "auto";
    });
  });
</script>
