---
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/Github.astro';
import MailIcon from '../icons/Mail.astro';
---
<h1 class="text-2xl md:text-5xl font-bold flex flex-row  items-center gap-x-3 pb-6 lg:pb-10">
    <img class="rounded-full size-12" src="https://avatars.githubusercontent.com/u/42984450?v=4" alt="Gomez Tomas Gonzalo Photo">
	Hooola, soy Tomás 
    <Badge>Disponible para laburar</Badge>
</h1>

<h2 class="text-xl text-wrap max-w-[700px] mb-8">Desarrollador Web Full Stack. De Buenos Aires, Argentina. Especializado en aplicativos con enfoque en soluciones digitales innovadoras y eficientes para ofrecer experiencias excepcionales.</h2>
		
<nav class="flex gap-2 flex-wrap">
    <SocialPill href="https://linkedin.com/in/gomeztomasgonzalo">
        <LinkedInIcon class="size-4 lg:size-6"/> LinkedIn
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/gomeztomasgonzalo">
        <GitHubIcon class="size-4 lg:size-6" /> GitHub
    </SocialPill>
    <SocialPill href="mailto:talk.gtg@gmail.com">
        <MailIcon class="size-4 lg:size-6" /> talk.gtg@gmail.com
    </SocialPill>
</nav>