---
import { PROYECTS } from "../data/Proyects";
import ProyectsItem from "./ProyectsItem.astro";
import CPUIcon from '../icons/CPU.astro';
import Swiper from "./Swiper.astro";

---
<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center text-black dark:text-white"> <CPUIcon class="size-6"/>Proyectos</h2>
<Swiper slides={PROYECTS} />
