---
interface Props{
    id: string;
    class: string;
    content?: (_props: Record<string, any>) => any;
}

const {id, class: className} = Astro.props
---
<section id={id} class={`container px-5 md:px-10 ${className}`}>
    {Astro.props.content && <Astro.props.content />}
    <slot />
</section>