---
import { propsToFilename } from 'astro/assets/utils';
interface Props{
    id: string;
    class: string;
    content?: (_props: Record<string, any>) => any;
}

const {id, class: className} = Astro.props
---
<section id={id} class={`w-full lg:w-[740px] ${className}`}>
    {Astro.props.content && <Astro.props.content />}
    <slot />
</section>