<a
    href={Astro.props.href}
    target="_blank"
    rel="noopener noreferrer"
    class={`
    border rounded-full 
    py-1 px-2 lg:py-2 lg:px-4
    text-xs lg:text-base
    flex justify-center items-center gap-x-2 
    hover:bg-gray-700/10 
    transition
     `}
>
    <slot />
</a>
