---
import { PROYECTS } from "../data/Proyects";
import CPUIcon from '../icons/CPU.astro';
import Swiper from "../components/Swiper.astro";
import {t} from 'i18next'

---
<h2 class="text-6xl font-semibold mb-8 flex gap-x-2 items-center text-grey-primary dark:text-white"> {t("proyect.title")}</h2>
<Swiper slides={PROYECTS} />
